################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LittleRestClient/v15
/LittleRestClient/bin
/LittleRestClient/obj
/UnitTestProject/bin
/UnitTestProject/obj
